body {
    color: white;
    background-color: lightsteelblue;
}

img {
    background-color: grey;
    padding: 10px;
}

h3 {
    background-color: grey;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    display: inline;
}

ul {
    margin: 30px auto;
}

.h2 {
    margin-bottom: 30px;
}